<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  method='POST' action="">
        {% csrf_token %}
        <label for="fnaemp_idme">emp_id :</label><br>
        <input type="text" id="emp_id" name="emp_id" ><br>
        <label for="emp_name">emp_name:</label><br>
        <input type="text" id="emp_name" name="emp_name" ><br><br>
        <label for="phone_number">phone_number:</label><br>
        <input type="text" id="phone_number" name="phone_number" ><br><br>
        <label for="emp_IdCard">emp_IdCard:</label><br>
        <input type="text" id="emp_IdCard" name="emp_IdCard" ><br><br>
 
        <input type="submit" value="Submit">
      </form> 
</body>
</html>